.auth-page {
  min-height: 100vh;
  background: linear-gradient(135deg, #77a6f3, #1e3a8a);
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-wrapper {
  display: grid;
  grid-template-columns: 1.1fr 420px;
  background: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  max-width: 900px;
  width: 50%;
}


/* LEFT PANEL */
.auth-info {
  margin-top: 60px;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0c0c0c;
}

.auth-info h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 12px;
}

.auth-info p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #374151;
  margin-bottom: 20px;
}

.auth-info ul {
  padding-left: 18px;
  font-size: 0.95rem;
}

.auth-info li {
  color: #374151;
  font-size: 0.95rem;
}


body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #77a6f3, #1e3a8a);
  margin: 0;
  padding: 0;
}

/* Shared layout container */
.app-container {
  background: #ffffff;
  max-width: 800px;
  margin: 50px auto;
  margin-right: 50px;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

/* Auth card */
.auth-container {
  max-width: 600px;
  width: 90%;
  margin: 80px auto;
  padding: 25px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Headings */
h2, h3 {
  margin-bottom: 15px;
}

/* Forms */
input,
select,
textarea {
  margin-bottom: 15px;
}

/* Links */
.link {
  color: #0d6efd;
  cursor: pointer;
  text-decoration: underline;
}


button.btn-primary {
  padding: 10px;
  font-weight: 600;
  border-radius: 8px;
}

button.btn-primary:hover {
  background-color: #2563eb;
}


input.form-control,
select.form-select {
  border-radius: 8px;
}
